{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="{% block metadescription %}{% endblock %}">
    <title>"{% block title %}{% endblock %}"</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
</head>
<body id="home" data-spy="scroll" data-target="#main-nav">>
    <div class="container">
        <div class="container-fluid bg-light navbar-fixed-top my_top_nav_div">
            {% include 'top-navbar.html' %}
        </div>
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}
    </div>
    {% include 'footer.html' %}
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>